.menu-btn {
    background-color: #3f68c2;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    margin: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 300px;
    text-align: center;
  }
  .menu-btn:hover {
    background-color: #264a91;
  }
  