.nav-button {
  padding: 10px 20px;
  background-color: #174ea6;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #0d3b8a;
}
